/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/bin/*
!bin/console
!bin/symfony_requirements
!bin/pre-commit.dist
!/bin/after_bugs_fix.sh
!/bin/init_db.sh
!/bin/disable_thp.sh
!/bin/do
!/bin/nfs_docker_osx.sh
!/bin/rm_cache.sh
!/bin/update_parameters.sh
!/bin/create-tag.sh
!/bin/spa.sh
